untitled/src/main/resources/XSDFiles/Role.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  	targetNamespace="http://it.nure.ua/matsuytskij/xml/role"
           elementFormDefault="qualified">

    <xs:complexType name="Role">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="idRole"  >
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:minExclusive value="0"/>
                </xs:restriction>
            </xs:simpleType>
            </xs:element>

        </xs:sequence>
    </xs:complexType>
</xs:schema>
